body {
    font-family: Arial, sans-serif;
    background : url("background.png") ;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("background.png");
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.profile-box {
    background: rgba(154, 193, 238, 0.7);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-content {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

#profileInfo {
    margin-top: 20px;
}

#profileInfo p {
    margin: 10px 0;
}

.actions .btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.actions .btn:hover {
    background-color: #45a049;
}



